a {
    text-decoration: none;
    color: rgb(255, 48, 12);
}

a:hover {
    text-decoration: underline;
}

.ttpShow {
    display: none;
}

#ttpPanel {
    display: none;
    background-color: rgb(252, 235, 47);
    width: 200px;
    text-align: left;
    border: 3px solid #a7a7a7;
    position: absolute;
    z-index: 99;
    padding: 15px;
}